   <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <strong>Productos</strong>
                  <small>Agregar</small>
                </div>
                <div class="card-body">
                  <form [formGroup]="rForm" (ngSubmit)="guardarProducto($event,rForm.value)">      
                    <!-- <form class="form" [formGroup]="rForm" (submit)="submit()"> -->
                    <input type="text" class="form-control" formControlName="cat_prec_id"  [(ngModel)]="cat_prec_id" required="required" hidden>
                    <div class="form-group">
                      <label for="nombre">Producto</label>
                      <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="nombre"  required>
                    </div>
                    <div class="form-group">
                      <label for="precio">Precio</label>
                      <input type="text" class="form-control" formControlName="precio" [(ngModel)]="precio" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="!rForm.valid">Guardar</button>
                    <button type="reset" class="btn btn-default btn-sm">Cancelar</button>                        
                  </form> 
                </div>
              </div>              
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
